---
const { title } = Astro.props;

import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center ">
			<div class="container flex flex-row items-center justify-between max-w-[1200px] mx-auto ">

				<img src="/duolingo-logo.svg" alt="#">
				<a class="relative group flex flex-row items-center hover:text-[#c2bfbf] font-extrabold text-gray-400  " href="">
					IDIOMA DE LA PAGINA
					<Icon name="mdi:chevron-down" />

					<div class="absolute top-6 hidden group-hover:block">
						opciones de menu
					</div>
				</a>
			</div>
		</header>
		
		<slot />

		<footer class="container">
			Este es el pie de pagina
		</footer>
	</body>
</html>
